---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import PageTitie from "../components/PageTitie.astro";
import Menu from "../components/Menu.astro";
import YellowSmallTitle from "../components/YellowSmallTitle.astro";
import BlackSmallTitle from "../components/BlackSmallTitle.astro";
import Congrats from "../components/Congrats.astro";
import RoundedContainerForAbout from "../components/RoundedContainerForAbout.astro";

const allCongrats = await Astro.glob("./congrats/*.md");
---

<Layout>
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"
    ></script>
    <Menu />
    <PageTitie title="ABOUT" subtitle="졸업전시회" />
    <main>
        <YellowSmallTitle>About Exhibition</YellowSmallTitle>
        <BlackSmallTitle>전시 소개</BlackSmallTitle>

        <div class="poster-and-description end-block">
            <img class="poster" src="/exhibition-poster.png" />
            <div class="description">
                [TUTORIAL]은 공주대학교 게임디자인학과 제 20회 졸업 전시회를
                맞아 지스타에서 개최한다. <br /><br /><br />
                우리는 누구나 새로운 무언가를 배우기 전, 본 게임의 튜토리얼의 과정을
                거치기 마련이다. <br /><br /><br />
                이 과정 속에서 실전으로 나아가기 위한 기술들을 익히고 경험하며 본인의
                것으로 만든다. <br /><br /><br />
                약 4년의 학업 기간 동안 쌓은 노력의 산물을 공개함으로써 우리는 비로소
                [게임]을 시작한다. 내용 매우 빈약하여, 추가해야 할 듯.
            </div>
        </div>

        <!-- 전시 소개 영상 -->
        <BlackSmallTitle>전시 소개 영상</BlackSmallTitle>
        <iframe
            class="video end-block"
            width="560"
            height="315"
            src="https://www.youtube.com/embed/FlyJpenSCYw?si=nEyI3663iyPVp4rg"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen></iframe>

        <!-- <RoundedContainerForAbout useBackgroundColor rightRound>
            <YellowSmallTitle>About Us</YellowSmallTitle>
            <BlackSmallTitle color="white">
                공주대학교<br />게임디자인학과에서는,
            </BlackSmallTitle>

            <iframe
                class="video"
                width="560"
                height="315"
                src="https://www.youtube.com/embed/FlyJpenSCYw?si=nEyI3663iyPVp4rg"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen></iframe>
        </RoundedContainerForAbout>

        <div style="margin-top: -50px;">
            <RoundedContainerForAbout leftRound>
                <YellowSmallTitle>Vision</YellowSmallTitle>
                <BlackSmallTitle>
                    졸업 후 우리는 다양한 분야로 진출합니다.
                </BlackSmallTitle>
            </RoundedContainerForAbout>
        </div> -->

        <!-- 축사 -->
        <RoundedContainerForAbout useBackgroundColor rightRound leftRound>
            <YellowSmallTitle>Congratulation</YellowSmallTitle>
            <BlackSmallTitle color="white">축사</BlackSmallTitle>

            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    {
                        allCongrats.map((cong, idx) => (
                            <Congrats
                                active={idx == 0}
                                name={cong.frontmatter.name}
                                role={cong.frontmatter.role}
                                role={cong.frontmatter.role}
                                message={cong.rawContent()}
                            />
                        ))
                    }
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </RoundedContainerForAbout>
    </main>
</Layout>

<link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
/>
<script
    is:inline
    src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

<script is:inline>
    new Swiper(".mySwiper", {
        centeredSlides: true,
        autoplay: {
            delay: 5000,
            disableOnInteraction: false,
        },
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
    });
</script>

<style>
    .poster-and-description {
        width: 100%;
        display: flex;
        flex-direction: row;
        column-gap: 50px;
    }

    .poster {
        border-radius: 10px;
    }

    .poster,
    .description {
        flex: 1;
        max-width: calc(
            50% - 25px
        ); /* 양쪽 여백을 고려해 이미지의 최대 너비 설정 */
        height: auto; /* 이미지 비율 유지 */
    }

    @media (width <= 1000px) {
        .poster-and-description {
            flex-direction: column;
            align-items: center;
        }

        .poster {
            max-width: calc(100% - 70px);
            margin-bottom: 30px;
        }

        .description {
            max-width: 100%;
        }
    }
</style>
