---
import Layout from "../layouts/Layout.astro";
import PageTitie from "../components/PageTitie.astro";
import Menu from "../components/Menu.astro";
import YellowSmallTitle from "../components/YellowSmallTitle.astro";
import BlackSmallTitle from "../components/BlackSmallTitle.astro";
import DefaultText from "../components/DefaultText.astro";
---

<Layout>
    <Menu />
    <PageTitie title="TUTORIAL" subtitle="튜토리얼" />
    <main>
        <div class="section">
            <YellowSmallTitle textAline="center">Welcome</YellowSmallTitle>
            <BlackSmallTitle textAline="center">
                게임디자인학과<br />졸업전시에 초대합니다
            </BlackSmallTitle>

            <span
                class="text-center"
                style="font-weight: 500 !important; font-size: 20px !important;"
            >
                <DefaultText>
                    학부생을 마무리한 학생들의 행보를 축하하고 응원해 주세요.
                </DefaultText>
            </span>

            <img class="ticket" src="/2024/image/ticket.png" />

            <span class="text-center">
                <DefaultText>
                    우리는 누구나 새로운 무언가를 배우기 전<br />
                    본 게임의 튜토리얼의 과정을 거치기 마련이다.<br />
                    이 과정 속에서 본 게임으로 나아가기 위한 기술들을 익히고 배워
                    나의 것으로 만든다.<br />
                    자, 이제 실전이다..!
                </DefaultText>
            </span>
        </div>

        <div class="section venue-section">
            <YellowSmallTitle textAline="center">Venue</YellowSmallTitle>
            <BlackSmallTitle textAline="center" color="white">
                게임디자인학과의 게임들을<br />직접 만나봐요
            </BlackSmallTitle>

            <iframe
                class="map"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3261.51654707913!2d129.1333663756948!3d35.16867602275704!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x356892bf02a5dfe1%3A0xb36570e65bbad549!2z67Kh7Iqk7L2U!5e0!3m2!1sko!2skr!4v1724409214579!5m2!1sko!2skr"
                width="600"
                height="450"
                style="border:0;"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

        <div class="section">
            <YellowSmallTitle textAline="center">Booth</YellowSmallTitle>
            <BlackSmallTitle textAline="center">부스 배치도</BlackSmallTitle>
        </div>
    </main>
</Layout>
<style>
    .section {
        padding: 200px 0;
    }

    .ticket {
        width: 100%;
        height: auto;
        margin: 100px 0;
    }

    .venue-section {
        position: relative;
    }

    .venue-section::before {
        content: " ";
        position: absolute;
        left: -100%;
        right: -100%;
        top: 0;
        bottom: 0;
        z-index: -10;
        background-color: var(--primary);
    }

    iframe {
        border-radius: 10px;
    }
</style>
