---
interface Props {
    textAline?: string;
    color?: string;
    bottomMargin?: number;
}

const { textAline, color, bottomMargin } = Astro.props;
---

<p><slot /></p>
<style
    define:vars={{
        textAline,
        color: color || "var(--black)",
        bottomMargin: (bottomMargin != null ? bottomMargin : 6.25) + "rem",
    }}
>
    p {
        font-size: 2rem;
        font-weight: 700;
        color: var(--color);
        margin-bottom: var(--bottomMargin);
        text-align: var(--textAline);
    }
</style>
