<div class="footer">
    <main>
        <div class="section">
            <div>
                <strong>국립공주대학교 게임디자인학과 제20회 졸업전시회</strong>
            </div>
            <br />
            <div>
                32588 충청남도 공주시 공주대학로 56(신관동 182) 예술대학 5층
            </div>
            <div>T. 041-850-0350</div>
            <br />
            <div>@Dept. of Game Design, Kongju National University, 2024</div>
        </div>
    </main>
</div>
<style>
    .footer {
        display: flex;
        flex-direction: row;
        align-items: center;

        width: 100%;
        background-color: var(--primary-dark);
        height: 200px;

        font-size: 0.9rem;
        font-weight: 100 !important;
        color: white;
    }

    . {
        display: flex;
        flex-direction: row;
    }
</style>
