---
interface Props {
    title: string;
    team: string;
    fileName: string;
}

const { title, team, fileName } = Astro.props;
---

<div class="page-title-container end-block">
    <div
        class="background-img"
        style=`background-image: url('/2024/image/backgrounds/${fileName}.png')`
    >
    </div>
    <main>
        <div class="titles">
            <div class="title wave-text">{title}</div>
            <div class="sub-title">{team}</div>
        </div>
    </main>
</div>

<script is:inline>
    return;
    document.addEventListener("DOMContentLoaded", function () {
        const waveText = document.querySelector(".wave-text");
        if (!waveText) return;

        const text = waveText.textContent.trim();
        waveText.innerHTML = "";

        for (let i = 0; i < text.length; i++) {
            const span = document.createElement("span");
            if (text[i] == " ") span.innerHTML = "&nbsp;";
            else span.textContent = text[i];
            // span.classList.add("lotte-font");
            waveText.appendChild(span);
        }
    });
</script>

<style>
    .page-title-container {
        position: relative;
        width: 100%;
        height: 370px;
        overflow-x: hidden;
        border-radius: 0 0 30px 30px;

        font-size: 1rem;
    }

    main {
        position: relative;
        display: flex;
        align-items: center;
    }

    .background-img {
        position: absolute;
        width: 100%;
        height: 100%;

        background-size: cover; /* 가로 기준으로 늘림 */
        background-position: center center;
        background-repeat: no-repeat;

        filter: brightness(0.6);
    }

    .page-title {
        height: 100%;
    }

    main {
        position: relative;
        height: 100%;
    }

    .titles {
        padding-top: 60px;
        text-align: center;
        color: white;
        text-shadow: #4141419b 0 6px 10px;
    }

    .lotte-font {
        font-family: "LOTTERIACHAB" !important;
    }

    .title {
        font-size: 4.5em;
        line-height: 1em;
        /* margin-bottom: 0.05em; */
        text-align: start;
        font-weight: bold;
    }

    .sub-title {
        font-size: 2em;
        text-align: start;
        margin-left: 0.1em;
    }

    .wave-text {
        display: flex;
    }

    @media (width <= 600px) {
        .page-title-container {
            height: 250px;
            font-size: 0.8rem;
        }
    }
</style>

<style is:inline>
    .wave-text span:hover {
        font-family: "LOTTERIACHAB" !important;
        font-weight: 100 !important;
    }
    .wave-text span {
        display: inline-block; /* 또는 block */
        transform: translateY(0px);
        transition: transform 0.3s ease-out;
    }
    .wave-text span:hover {
        transform: translateY(-5px) rotateZ(-10deg);
        transition: transform 0.3s ease-out;
    }
    .wave-text span:nth-child(even):hover {
        /* color: #ff4b57 !important; */
    }
    .wave-text span:nth-child(odd):hover {
        /* color: #47ccff !important; */
    }
</style>
