---
interface Props {
    title: string;
    team: string;
}

const { title, team } = Astro.props;
---

<div
    class="page-title-container end-block"
    style=`background-image: url('/2024/image/backgrounds/${title}.png')`
>
    <main>
        <div class="titles">
            <div class="title wave-text">{title}</div>
            <div class="sub-title">{team}</div>
        </div>
    </main>
</div>

<script is:inline>
    return;
    document.addEventListener("DOMContentLoaded", function () {
        const waveText = document.querySelector(".wave-text");
        if (!waveText) return;

        const text = waveText.textContent.trim();
        waveText.innerHTML = "";

        for (let i = 0; i < text.length; i++) {
            const span = document.createElement("span");
            if (text[i] == " ") span.innerHTML = "&nbsp;";
            else span.textContent = text[i];
            // span.classList.add("lotte-font");
            waveText.appendChild(span);
        }
    });
</script>

<style>
    .page-title-container {
        width: 100%;
        height: 370px;
        overflow-x: hidden;

        border-radius: 0 0 30px 30px;
        background-size: cover; /* 가로 기준으로 늘림 */
        background-position: center center;
        background-repeat: no-repeat;
    }

    .page-title {
        height: 100%;
    }

    main {
        position: relative;
        height: 100%;
    }

    .titles {
        position: absolute;
        bottom: 0;
        padding-bottom: 72px;
    }

    .lotte-font {
        font-family: "LOTTERIACHAB" !important;
    }

    .title {
        font-size: min(17vw, 85px);
        text-align: start;
        margin-bottom: -15px;
        font-weight: bold;

        color: white;

        /* margin-bottom: max(-7vw, -44px); */

        /* background: #ffffff;
        background: linear-gradient(to top, #ffffff 0%, #ffffff00 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: white; */
        text-shadow: #02143ecc 0 6px 10px;
    }

    .sub-title {
        font-size: min(28px, 17vw);
        text-align: start;
        margin-left: 12px;

        /* -webkit-text-stroke-width: max(0.2vw, 3px);
        -webkit-text-stroke-color: var(--primary);
        text-shadow: #44444440 0 4px 4px; */
    }

    .titles {
        color: white;
        text-align: center;
    }

    .wave-text {
        display: flex;
    }
</style>

<style is:inline>
    .wave-text span:hover {
        font-family: "LOTTERIACHAB" !important;
        font-weight: 100 !important;
    }
    .wave-text span {
        display: inline-block; /* 또는 block */
        transform: translateY(0px);
        transition: transform 0.3s ease-out;
    }
    .wave-text span:hover {
        transform: translateY(-5px) rotateZ(-10deg);
        transition: transform 0.3s ease-out;
    }
    .wave-text span:nth-child(even):hover {
        /* color: #ff4b57 !important; */
    }
    .wave-text span:nth-child(odd):hover {
        /* color: #47ccff !important; */
    }
</style>
