---
interface Props {
    name: string;
    role: string;
    email: string;
}

const { name, role, email } = Astro.props;
---

<div class="profile">
    <div class="image">
        <img src=`/2024/image/profile-images/${name}.png` />
    </div>
    <div class="name-and-role">
        <div class="name">{name}</div>
        <div class="role">{role}</div>
    </div>
    <div class="email">{email}</div>
</div>
<style>
    .profile {
        width: calc((100% - 4rem) / 5);
        min-width: calc((100% - 4rem) / 5);
        max-width: calc((100% - 4rem) / 5);
        flex: 1 1 calc((100% - 4rem) / 5);
        /* margin-bottom: 16px; 아래쪽 여백 추가 */
        box-sizing: border-box;
    }

    @media (width <= 900px) {
        .profile {
            width: calc((100% - 3rem) / 4);
            min-width: calc((100% - 3rem) / 4);
            max-width: calc((100% - 3rem) / 4);
            flex: 1 1 calc((100% - 3rem) / 4);
        }
    }
    @media (width <= 650px) {
        .profile {
            width: calc((100% - 2rem) / 3);
            min-width: calc((100% - 2rem) / 3);
            max-width: calc((100% - 2rem) / 3);
            flex: 1 1 calc((100% - 2rem) / 3);
        }
    }

    @media (width <= 400px) {
        .profile {
            width: calc((100% - 1rem) / 2);
            min-width: calc((100% - 1rem) / 2);
            max-width: calc((100% - 1rem) / 2);
            flex: 1 1 calc((100% - 1rem) / 2);
            /* margin: 0 auto; */
        }
    }

    .image {
        width: 100%;
        border-radius: 0.5rem;
        height: auto;
        aspect-ratio: 4 / 5;
        background-color: var(--primary);
        margin-bottom: 1.25rem;
    }

    .name-and-role {
        display: flex;
        flex-direction: row;
        column-gap: 0.5rem;
        margin-bottom: 0.5rem;
    }

    .name {
        font-weight: 800;
        font-size: 1.125rem;
    }

    .role {
        font-weight: 400;
        font-size: 1.125rem;
        color: #95969c;
    }

    .email {
        font-weight: 400;
        font-size: 0.875rem;
        color: #b5b9c6;
        text-wrap: wrap;
        overflow-wrap: anywhere;
    }
</style>
