---
interface Props {
    title: string;
    fileName: string;
    path?: string;
}

const { title, fileName, path } = Astro.props;
---

<a class="project" href={path}>
    <img src=`/2024/image/posters/${fileName}.png` class="image" />
    <div class="name">{title}</div>
</a>

<style>
    .project {
        width: calc((100% - 75px) / 4);
        min-width: calc((100% - 75px) / 4);
        max-width: calc((100% - 75px) / 4);
        flex: 1 1 calc((100% - 75px) / 4);
        margin-bottom: 50px;
        box-sizing: border-box;
        text-decoration: none;
        color: var(--black);
    }

    .image {
        width: 100%;
        border-radius: 8px;
        height: auto;
        aspect-ratio: 1 / 1.414;
        background-color: var(--primary);
        margin-bottom: 20px;
    }

    .name {
        font-size: 20px;
    }

    @media (width <= 900px) {
        .project {
            width: calc((100% - 50px) / 3);
            min-width: calc((100% - 50px) / 3);
            max-width: calc((100% - 50px) / 3);
            flex: 1 1 calc((100% - 50px) / 3);
        }
    }
    @media (width <= 650px) {
        .project {
            width: calc((100% - 25px) / 2);
            min-width: calc((100% - 25px) / 2);
            max-width: calc((100% - 25px) / 2);
            flex: 1 1 calc((100% - 25px) / 2);
        }
    }

    @media (width <= 400px) {
        .project {
            width: 100%;
            min-width: 100%;
            max-width: 100%;
            flex: 1 1 100%;
            /* margin: 0 auto; */
        }
    }
</style>
