---
interface Props {
    name: string;
    image: string;
    path?: string;
}

const { name, image, path } = Astro.props;
---

<a class="project" href={path}>
    <div class="image"></div>
    <div class="name">{name}</div>
</a>
<style>
    .project {
        width: calc((100% - 75px) / 4);
        min-width: calc((100% - 75px) / 4);
        max-width: calc((100% - 75px) / 4);
        flex: 1 1 calc((100% - 75px) / 4);
        margin-bottom: 50px;
        box-sizing: border-box;
        text-decoration: none;
        color: var(--black);
    }

    .image {
        width: 100%;
        border-radius: 8px;
        height: auto;
        aspect-ratio: 3 / 4;
        background-color: var(--primary);
        margin-bottom: 20px;
    }

    .name {
        font-weight: 800;
        font-size: 20px;
    }
</style>
