---
interface Props {
    className?: string;
    active?: boolean;
}

const { active, className } = Astro.props;
---

<span class=`selectable-option ${active ? "active" : ""} ${className}`>
    <slot />
</span>

<style>
    span {
        padding: 0.938rem 3.438rem;
        font-weight: 600;
        font-size: 1.5rem;
        border-radius: 6.25rem;
        cursor: pointer;
    }

    span.active {
        color: white;
        background-color: var(--primary);
    }
    /* 
    @media (width <= 650px) {
        span {
            padding: 10px 30px;
            font-size: 1.125rem;
        }
    } */
</style>
