---
interface Props {
	textAline?: string;
}

const { textAline } = Astro.props;
---
<p><slot/></p>
<style define:vars={{ textAline }}>
	p {
		font-size: 16px;
		font-weight: 600;
		color: #FFBD28;
		margin-bottom: 30px;
		text-align: var(--textAline);
	}
</style>
